{% extends "AppBundle:Layouts:layout.html.twig" %}

{% block content %}
    
    <div class="container">
        <p>admin</p>
    {{ form_start(form, {action:'', 'method':'POST'}) }}
    {{ form_errors(form) }}

    {{ form_end(form) }}    
    </div>
    
{% endblock %}